{{ form_start(emailForm) }}
    {{ form_widget(emailForm) }}
<div class="col-12 text-center">
    <button class="btn form-button">{{ button_label|default('Modifier') }}</button>
</div>
{{ form_end(emailForm) }}
