{{ form_start(passForm) }}
    {{ form_widget(passForm) }}
<div class="col-12 text-center">
    <button class="btn form-button">{{ button_label|default('Modifier') }}</button>
</div>
{{ form_end(passForm) }}
