{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="greenOnWhite">Créer un nouveau utilisateur</h1>

        {{ include('admin/user/_form.html.twig') }}

        <a href="{{ path('admin_user_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
