{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}
    <h1>Modification Equipe</h1>

    {{ include('team/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


{% endblock %}
