{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <p>Un email a été envoyé contenant un lien pour réinitialisez votre mot de passe. Ce lien expire dans {{ tokenLifetime|date('g') }} heures.</p>
    <p>Si vous ne recevez pas le mail, vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
