<h1>Bonjour !</h1>

<p>
    Votre compte vient d'être créé sur La Gare Centrale. Pour terminer votre inscription, veuillez cliquer <a
            href="{{ url('app_reset_password', {token: resetToken.token}) }}">ici</a> pour créer votre mot de passe !
    <br>
    Ce lien expire dans {{ tokenLifetime|date('g') }} heure(s).
</p>

<p>
    A bientôt !
</p>
