{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Nouveau mot de passe</h1>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn form-button">Nouveau mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
