// Colors
$primarycolor :#5AAFAA;
$secondarycolor : #FDEE6E;
$tertiarycolor : #5F5F5F;

// Fonts
$titlefont : 'Lobster', cursive;
$textfont : 'Montserrat', sans-serif;

// Font size
$h1size : 40px;
$h2size : 24px;
$textsize : 16px;

