@import "vars";
@import '../../node_modules/bootstrap/scss/bootstrap';

//Function to center block
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

html {
    scroll-padding-top: 80px;
}

body {
    padding-top: 80px;
}

h1 {
    font-size: $h1size;
    font-family: $titlefont;
    color: $primarycolor;
    text-align: center;
    padding: 20px 0 20px 0;

}

h2 {
    font-size: $h2size;
    font-family: $titlefont;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--primary-color);
}

.greyOnWhite {
    color: $tertiarycolor;
}

.greenOnWhite {
    color: $primarycolor;
}

.greenOnYellow {
    color: $primarycolor;
    background-color: $secondarycolor;
}

.whiteOnGreen {
    color: white;
    background-color: $primarycolor;
    padding: 5px;
    border-radius: 5px;
}

.horizontal {
    display: flex;
    align-items: center;
}

.plusbutton {
    background-color: $primarycolor; /* Green */
    border: none;
    border-radius: 100%;
    color: $tertiarycolor;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
}

.card {
    display: flex;
    justify-content: flex-end;
}

.cardaction {
    border: none;
    margin: 10px;
    display: flex;
    justify-content: flex-end;

    a:hover {
        text-decoration: none;
    }

    img {
        position: relative;
    }

    .card-body {
        text-align: center;
        text-decoration: none;
        border: none;
    }

    .card-title {
        font-size: $textsize;
        color: $primarycolor;
    }

    .card-text {
        color: $tertiarycolor;
    }

    .badge {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .cancelled {
        background-color: blueviolet;
    }

    .ongoing {
        background-color: $primarycolor;
    }

    .over {
        background-color: cornflowerblue;
    }
}

/* Glow */
.hvr-glow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.cardmethod {
    border-radius: 25px;
    border-color: $primarycolor;
    display: flex;
    width: 20rem;
    justify-content: center;
    align-items: center;
    margin: 10px;

    .card-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 25px;
    }

    .card-body {
        text-align: center;
    }

    .card-title {
        font-family: $textfont;
        color: $tertiarycolor;
    }

    .threeDots:after {
        content: '\FE19';
        font-size: 35px;
        font-weight: bold;
        color: $primarycolor;
        opacity: 50%;
        margin: 15px;
        padding-bottom: 15px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        font-family: $textfont;
    }

    a:hover {
        text-decoration: none;
        color: $secondarycolor;
        cursor: pointer;
    }

    .card-img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
        object-fit: cover;
    }
}

.dropup-method {
    position: absolute;
    right: 0;
    top: 15px;
}

// Button Modal
.btn {
    background-color: $primarycolor;
    font-family: $titlefont;
    color: white;
}


//Box containing the links in the homepage
.container-center {
    @include flexCenter(column);
}

.link-box {
    border-radius: 30px;
    padding: 50px;
    margin: 20px;
}

.link-of-linkbox {
    font-size: 1.8rem;
    color: #FFFFFF;
}

hr {
    padding: 1px;
    background: #FFF;
}

a:hover {
    text-decoration: none;
    color: $secondarycolor;
}

//Button to redirect to the new user page
.button-new-benevole {
    @include flexCenter(row);
    color: $primarycolor;

    img {
        height: 35px;
    }

    h4 {
        background-color: $secondarycolor;
        font-size: 16px;
        padding-left: 5px;
    }

    .logo-new {
        z-index: 1;
        height: 70px;
        margin-left: -19px;
    }

    .arrow_benevole {
        padding: 0px 20px 0px 15px;
    }
}

/* HOMEPAGE DESKTOP VIEW */
@media all and (min-width: 769px) {

    //Box containing the links in the homepage
    .container-center {
        @include flexCenter(column);
    }

    .link-box {
        border-radius: 30px;
        width: 35%;
        padding: 30px;
    }

    .link-of-linkbox {
        font-size: 2rem;
        color: #FFFFFF;
    }

    hr {
        padding: 1px;
        background: #FFF;
    }

    a:hover {
        text-decoration: none;
        color: $secondarycolor;
    }

    //Button to redirect to the new user page
    .button-new-benevole {
        @include flexCenter(row);
        color: $primarycolor;

        img {
            height: 80px;
        }

        h4 {
            background-color: $secondarycolor;
            padding-left: 15px;
            font-size: 24px;
        }

        .logo-new {
            z-index: 1;
            height: 140px;
            margin-left: -19px;
        }

        .arrow_benevole {
            padding: 0px 50px 0px 50px;
        }
    }
}

// ADMIN

.actions-listing {
    display: flex;
    justify-content: space-evenly;
}

tr {
    text-align: center;
}


// NAVBAR

nav {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: $primarycolor;
    padding: 0 1rem;


    ul {
        display: flex;
        align-items: center;
    }

    li {
        list-style: none;
    }

    .nav-link {
        color: white;
    }

    .user-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .user-mobile {
        display: none;
    }

    .hello-user {
        color: white;
    }

}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.navbar-nav {
    align-items: center;
    flex: 1;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    padding: 0;

    img {
        height: 80px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        .navbar-nav {
            justify-content: flex-start;
            align-items: flex-start;
        }

        .navbar-collapse {
            align-items: unset;
            flex-direction: column;
        }

        .form-inline {
            display: none;
        }

        .user-mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .user-desktop {
            display: none;
        }
    }
}

/* METHOD */

.method-header {
    display: flex;
    justify-content: flex-end;
}

.method-arrow {
    width: 200px;
}

.method-title {
    display: flex;
    flex-direction: column;
    position: relative;

    figcaption {
        position: absolute;
        height: 100%;
        width: 20%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
        color: white;
        font-family: $titlefont;
    }
}

.method-image {
    height: 125px;
    Width: 125px;
    border-radius: 50%;
    object-fit: cover;
}

.method-cat-img {
    display: flex;
    justify-content: flex-end;
}

.method-infos {
    background-color: $primarycolor;
    display: flex;
    flex-direction: row;
}

.method-name {
    display: flex;
    justify-content: flex-end;
}

.method-bloc-infos {
    display: flex;
    flex-direction: column;
}

.menu-method {
    background: $tertiarycolor none;
    border: none;
    padding: 6px 12px;

    &:hover {
        color: $secondarycolor;
    }

    &:focus {
        outline: none;
    }
}

@media only screen and (max-width: 768px) {
    .method-infos {
        flex-direction: column;
    }
}

/* NEW ACTION PAGE STYLING */
.action-form {
    width: 90%;
    margin: auto auto;
}

.form-button {
    background-color: $primarycolor;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;

    &:hover {
        color: $secondarycolor;
    }

}

.col-form-label {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
}

/* DISPLAY ACTION PAGE */

.action-image-box {
    display: flex;
    justify-content: center;
}

.team-title {
    color: white;
    background-color: $primarycolor;
    padding: 10px;
    margin: 15px 0 15px 0;
}

.action-top-header {
    font-size: 0.8em;
    display: flex;
    justify-content: start;
    align-items: center;
}

.action-header {
    display: flex;
    align-items: center;

    .action-center-header {
        flex: 3;

        .status-dot {
            height: 40px;
        }
    }

    .action-center-right {
        flex: 1;
    }


    .edition-box {
        position: relative;
        display: flex;
        justify-content: center;

        figcaption {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0px;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            display: flex;
            color: white;
            font-family: $titlefont;
        }
    }

    .action-edition-style {
        max-width: 100%;
        height: 30px;
    }
}

.action-add-Team {
    margin-top: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: $primarycolor;
    border-radius: 5px;
    border: none;

    a {
        color: white;
    }
}

.action-image {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    flex: 1;
    object-fit: cover;
}

.action-yellow-box {
    padding: 5px;
    border: 10px solid $secondarycolor;

    .action-separator {
        width: 30%;
    }
}

.action-progress-box {
    background-color: $secondarycolor;
    margin-top: 10px;
    padding: 15px;
}

.action-member-image, .action-plus-image {
    height: 75px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.action-plus-image:hover {
    cursor: grab;
}

.deliverable-box {
    display: flex;
    flex-direction: column;

    .important-link-image, {
        background-color: $secondarycolor;
        border-radius: 5px;
        padding: 15px 30px 15px 30px;
        margin: 10px 15px 0 15px;
        width: 40%;
        height: auto;
    }

    .important-link-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.action-list-item {
    margin-right: 0;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    text-align: center;

    .organisation-button, .organisation-button-plus {
        font-family: $titlefont;
        border-radius: 5px;
        padding: 15px 10px 15px 10px;
        margin: 10px 5px 0 5px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .organisation-button {
        color: white;
        background-color: $primarycolor;
        font-size: 1rem;

        a {
            color: white;

            &:hover {
                color: $secondarycolor;
            }
        }
    }

    .organisation-button-plus {
        color: $tertiarycolor;
        font-size: 24px;
        background-color: lighten($tertiarycolor, 40%);

        a:hover {
            color: $secondarycolor;
        }
    }
}


.action-subtitles {
    background-color: $secondarycolor;
    text-align: center;
    margin-top: 10px;
}

.action-methods {
    margin-top: 10px;
    padding: 5px;
    border: 10px solid $tertiarycolor;
    display: flex;
    align-items: start;
    flex-direction: column;

    li {
        margin-left: 20px;
    }
}

/* Boostrap action dropdown */
.bootstrap-action-custom {
    color: white;
    font-family: $textfont;
    font-size: 12px;
    text-decoration: none;
    background-color: #5F5F5F;
}

/* FOOTER */

.footer {
    font-family: $textfont;
    font-size: 20px;
    margin: 10px 30px;
    padding: 5px;
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .footerLink {
        margin: 10px;

        a {
            text-decoration: none;
            font-size: 16px;
            color: $primarycolor;

            &:hover, &:active {
                text-decoration: underline;
            }
        }
    }

    .footerImgContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 10px;

        .footerImg {
            width: 40px;
            height: 40px;
            margin: 0 5px;
        }

        .footerBig {
            width: 30px;
            height: 30px;
            margin: 5px 10px 0 10px;
        }
    }

    .footerMessage {
        color: $tertiarycolor;
        margin: 10px;
        padding-top: 10px;

        p {
            text-align: center;
            font-size: 12px;
        }
    }
}

/* FOOTER DESKTOP */

@media only screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;

        .footerLink {
            flex: 1;
        }

        .footerImgContainer {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .footerMessage {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
}

// SHOW METHOD PAGE
/*MINI MENU*/

.mini-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* CSS threeDots */
.threeDots:after {
    content: "\2026";
    font-size: 35px;
    font-weight: bold;
    color: $primarycolor;
    opacity: 50%;
    margin: 0 15px;
    align-self: center;
    margin-top: -25%;
}

.action {
    color: white;
    margin: 0;
}

.menu {
    text-decoration: none;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0;

    a {
        list-style-type: none;
        padding: 6px 12px;
        margin-right: -0.56em;
        margin-left: -0.56em;
        color: white;
        font-family: $textfont;
        font-size: 12px;
        text-decoration: none;
        background-color: #5F5F5F;
    }
}

// Action show page
.deactivated {
    color: red;
}

.fiche-action {
    padding: 20px;
}

.action-mini-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.action-three-dots {
    display: flex;
    cursor: pointer;
}

.action-menu {
    text-decoration: none;
    position: absolute;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    top: 100%;
    z-index: 1;

    a, .action-three-dots-button {
        list-style-type: none;
        padding: 6px 12px;
        margin-right: -0.56em;
        margin-left: -0.56em;
        color: white;
        font-family: $textfont;
        font-size: 12px;
        text-decoration: none;
        background-color: $tertiarycolor;
    }

    .action-three-dots-button {
        background: none;
        background-color: $tertiarycolor;
        border: none;
        padding: 6px 12px;

        &:hover {
            color: $secondarycolor;
        }

        &:focus {
            outline: none;
        }
    }
}

/* TROMBINOSCOPE PAGE */
.trombi-background {
    background-color: darkgrey;

    li {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .tilt-1 {
        .clip {
            left: 150px;
        }

        .polaroid-frame {
            -webkit-transform: rotate(-8deg);
            -moz-transform: rotate(-8deg);
        }
    }

    .tilt-2 {
        .clip {
            left: 200px;
        }

        .polaroid-frame {
            -webkit-transform: rotate(-4deg);
            -moz-transform: rotate(-4deg);
        }
    }

    .tilt-3 .clip {
        left: 140px;
    }

    .tilt-4 {
        .clip {
            left: 150px;
        }

        .polaroid-frame {
            -webkit-transform: rotate(4deg);
            -moz-transform: rotate(4deg);
        }
    }

    .tilt-5 {
        .clip {
            left: 130px;
        }

        .polaroid-frame {
            -webkit-transform: rotate(8deg);
            -moz-transform: rotate(8deg);
        }
    }

    .polaroid-container {
        position: relative;

        .rope-container {
            display: flex;
            justify-content: center;

            .rope {
                width: 350px;
                position: relative;
            }
        }

        .clip {
            height: 50px;
            position: absolute;
            top: 20px;
            z-index: 2;
        }

        .trombi-title {
            margin-top: 15px;
        }

        .polaroid-frame {
            background-color: white;
            flex-direction: column;
            height: 100%;
            padding: 15px 15px 30px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 0 auto 15px auto;
            border: 1px solid $tertiarycolor;

            &:hover {
                color: $tertiarycolor;
            }

            .polaroid-picture {
                width: 300px;
                height: 300px;
                margin-bottom: 20px;
                background-color: $tertiarycolor;
            }
        }
    }
}

/* DESKTOP VIEW LARGE */
//Box containing the links in the homepage
@media all and (min-width: 769px) {
    .container-center {
        @include flexCenter(column);
    }

    .link-box {
        border-radius: 30px;
        width: 35%;
        padding: 30px;
    }

    .link-of-linkbox {
        font-size: 2rem;
        color: #FFFFFF;
    }

    hr {
        padding: 1px;
        background: #FFF;
    }

    a:hover {
        text-decoration: none;
        color: $secondarycolor;
    }

    //Button to redirect to the new benevole page
    .button-new-benevole {
        @include flexCenter(row);
        color: $primarycolor;

        img {
            height: 80px;
        }

        h4 {
            background-color: $secondarycolor;
            padding-left: 15px;
            font-size: 24px;
        }

        .logo-new {
            z-index: 1;
            height: 140px;
            margin-left: -19px;
        }

        .arrow_benevole {
            padding: 0px 50px 0px 50px;
        }
    }

    /*  Action display page  */
    .action-center-left {
        display: block;
        flex: 1;
    }

    .deliverable-box {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;

        .action-methods {
            flex: 3;
        }

        .important-link-center {
            flex-direction: column;
            flex: 1;
        }
    }
}

/* ACTION INDEX */
.create-action {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $titlefont;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 6px 36px;
    height: 75px;
}

/* CSS CARD METHODS */

.btn-desactive {

    background: none;
    background-color: $tertiarycolor;
    border: none;
    padding: 6px 12px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    margin-top: 1px;

    &:hover {
        color: $secondarycolor;
    }

    &:focus {
        outline: none;
    }
}

.method-btn {
    a {
        color: white;
        font-family: $textfont;
    }

    span {
        font-weight: bold;
    }
}

.container-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card-method {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-method {
    background-color: #5F5F5F;
    margin-left: -70px;

    a {
        list-style-type: none;
        padding: 6px 12px;
        color: white;
        font-family: $textfont;
        font-size: 12px;
        text-decoration: none;
    }
}

.subtitle {
    text-align: center;
}

/* CSS CARD METHODS DESKTOP VIEW */
@media all and (min-width: 769px) {

    .btn-desactive {

        background: none;
        background-color: $tertiarycolor;
        border: none;
        padding: 6px 12px;
        color: white;
        font-size: 12px;
        text-decoration: none;
        margin-top: 1px;

        &:hover {
            color: $secondarycolor;
        }

        &:focus {
            outline: none;
        }
    }

    .container-card-method {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-btn-method {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .method-btn {
            margin-left: 90px;
        }
    }

    .container-color-method {
        background-color: $primarycolor;
    }

    .container-drop {
        display: flex;
        flex-direction: row;
    }

    .method {
        display: flex;
        align-items: stretch;
    }

    .menu-method {
        width: 282px;
        margin-left: -110px;

        a {
            list-style-type: none;
            padding: 6px 12px;
            color: white;
            font-family: $textfont;
            font-size: 12px;
            text-decoration: none;
            margin-left: 0em;
            margin-right: 0em;
        }
    }

    .pipe-link-method {
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
}

//INDEX MOBILE VIEW
.index-container {
    @include flexCenter(column);

    ul {
        list-style-type: none;
    }

    a {
        color: black;
    }

    h4 {
        a {
            font-family: $titlefont;
            color: $primarycolor;
            opacity: 85%;
        }
    }
}

.bloc_page {
    position: relative;
}

.img-leaf-palm {
    height: 150px;
    position: absolute;
    right: 0;
    top: -60px;
}

.img-leaf-palm-tall {
    height: 150px;
    position: absolute;
    bottom: 0;
    left: -25px;
}

.img-leaf-blue {
    height: 150px;
    position: absolute;
    left: -20px;
}

.img-leaf-green {
    height: 150px;
    position: absolute;
    bottom: 0;
    right: -25px;
}

.rotation110 {
    -webkit-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    transform: rotate(110deg);
}

/* Display over 450px of trombinoscope page */
@media all and (min-width: 450px) {
    // TROMBINOSCOPE DESKTOP VIEW
    .trombi-title {
        width: 100%;
    }

    .polaroids-display {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 900px;
        white-space: nowrap;

        .polaroid-container .rope-container .rope {
            width: 290px;
            -webkit-transform: rotate(-1deg);
            -moz-transform: rotate(-1deg);
        }
    }

    .trombi-background {
        .polaroid-container {
            .polaroid-frame {
                .polaroid-picture {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

@media all and (min-width: 769px) {

    //INDEX DESKTOP VIEW
    .bloc_page {
        position: relative;
        width: 1000px;
        margin: auto;
        border-left: 1px solid black;
        border-right: 1px solid black;

        .img-leaf-palm {
            height: 350px;
            position: absolute;
            right: 0;
            top: -140px;
        }

        .img-leaf-palm-tall {
            height: 300px;
            position: absolute;
            bottom: -40px;
            left: -57px;
        }

        .img-leaf-blue {
            height: 300px;
            position: absolute;
            left: -42px;
            top: -45px;
        }

        .img-leaf-green {
            height: 300px;
            position: absolute;
            bottom: -50px;
            right: -40px;
        }

        .rotation110 {
            -webkit-transform: rotate(110deg);
            -moz-transform: rotate(110deg);
            -ms-transform: rotate(110deg);
            -o-transform: rotate(110deg);
            transform: rotate(110deg);
        }

        .index-container {
            h4 {
                width: 30%;
                margin-right: auto;
                margin-left: auto;
            }

            ul {
                width: 65%;
                margin-left: auto;
            }
        }
    }
}

/* METHOD FORMS */
.methodForm-container {
    color: $tertiarycolor;
    font-family: $textfont;
    font-size: $textsize;
    margin-bottom: 10px;
}

.methodLinks, .methodLinks-container {
    color: $tertiarycolor;
    font-family: $textfont;
    font-size: $textsize;
    margin-bottom: 10px;
}

.btn-delete {
    margin-top: 10px
}

//PROFILE PAGE MOBILE VIEW
.bloc_page_profile {
    width: 100%;

    .profile-img-white-paint-mobile {
        height: 75px;
        position: relative;
        margin: 10px 10px 0 10px;
    }

    .profile-name-mobile {
        position: absolute;
        z-index: 1;
        align-self: center;
    }

    .container-pen-mobile {
        @include flexCenter(row);

        .img-pen-mobile {
            height: 55px;
            display: block;
        }
    }

    .container-profile {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        background-color: rgb(186, 222, 219);

        .container-card-img-infos {
            padding: 0 15px 15px 15px;

            .container-profile-img {
                background-color: white;
                height: auto;
                padding: 10px;
                position: relative;

                .profile-img-scotch-top {
                    display: none;
                }

                .container-img-frame {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .profile-img {
                        width: 70%;
                    }

                    .profile-yellow-frame-bottom {
                        height: 50px;
                        position: absolute;
                        bottom: 15px;
                        right: 65px;
                    }

                    .profile-yellow-frame-top {
                        height: 50px;
                        position: absolute;
                        top: 15px;
                        left: 65px;
                    }

                    .rotation180 {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }

                .profile-img-scotch-bottom {
                    display: none;
                }
            }

            .container-profile-infos {
                background-color: $primary;
                height: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .img-pen-desktop {
                    display: none;
                }

                .entry-date {
                    height: 50px;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 1.1rem;
                }

                .profile-img-white-paint-desktop {
                    display: none;
                }

                .profile-name-desktop {
                    display: none;
                }

                .profile-function {
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: white;
                    margin-top: 15px;

                    h3 {
                        font-family: $textfont;
                        color: $primary;
                        padding: 10px;
                        font-size: 1.4rem;
                    }
                }

                .container-profile-contact-detail {
                    width: 90%;
                    background-color: $secondarycolor;
                    padding: 15px;
                    margin: 0 auto 15px;

                    .profile-details {
                        border-radius: 15px;
                        background-color: white;

                        .details {
                            h3 {
                                font-family: $textfont;
                                font-size: 1.5rem;
                            }

                            p {
                                font-size: 1rem;
                                text-align: center;
                                font-family: $textfont;

                                a {
                                    text-decoration: underline;
                                    font-family: $textfont;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }

        .container-infos-bio-work {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: auto;
            padding: 15px;

            .container-infos-bio {
                height: auto;
                width: 100%;
                position: relative;
                background-color: white;

                .bio-text {
                    padding: 15px;
                    max-width: 100%;
                    height: 85%;
                    overflow: auto;

                    p {
                        font-size: 1rem;
                        text-align: center;
                        word-break: break-word;
                        margin-top: 1rem;
                        font-family: $textfont;
                    }
                }

                .green-line-top {
                    position: absolute;
                    height: 15px;
                    width: 100%;
                    top: 0;
                    background-color: $primarycolor;
                }

                .green-line-bottom {
                    position: absolute;
                    height: 15px;
                    width: 100%;
                    bottom: 0;
                    background-color: $primarycolor;
                }
            }

            .container-infos-work {
                border-top: 2px solid $primarycolor;
                height: auto;
                width: 100%;

                .title-infos-work {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;

                    h1 {
                        position: absolute;
                        color: white;
                        font-size: 2.1rem;
                    }

                    .profile-img-green-paint-desktop {
                        width: 100%;
                        margin-top: 15px;
                    }
                }

                .container-work-on {

                    .list-work-on {
                        list-style-type: none;
                        padding-inline-start: 0;
                        margin-top: 35px;

                        li {
                            width: 100%;
                            border-radius: 30px;
                            background-color: white;
                            padding: 10px;
                        }

                        h1 {
                            padding: 0;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }

        .container-green-skills {
            display: flex;
            flex-direction: column;
            background-color: white;
            height: auto;
            width: 100%;

            .green-skills-left {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .title-green-skills {
                    margin-top: -15px;

                    h3 {
                        font-family: $textfont;
                        font-size: 1.5rem;
                    }
                }

                .circles {
                    height: auto;
                    margin-top: 30px;

                    .container-circle-green-1 {
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        align-items: center;

                        .circle-green-1 {
                            height: 50px;
                            width: 50px;
                            min-width: 50px;
                            background-color: $primarycolor;
                            border-radius: 50%;
                        }

                        h5 {
                            font-family: $textfont;
                            font-size: 1.1rem;
                        }
                    }

                    .container-circle-yellow {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-align: center;

                        .circle-yellow {
                            height: 50px;
                            width: 50px;
                            min-width: 50px;
                            background-color: $secondarycolor;
                            border-radius: 50%;
                            margin: 8px 0 8px 0;
                        }

                        h5 {
                            font-family: $textfont;
                            font-size: 1.1rem;
                        }
                    }

                    .yellow-line {
                        background-color: #fef9cd;
                        width: 100%;

                        .container-circle-green-2 {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-align: center;
                            width: 100%;

                            .circle-green-2 {
                                height: 50px;
                                width: 50px;
                                min-width: 50px;
                                background-color: $primarycolor;
                                border-radius: 50%;
                            }

                            h5 {
                                font-family: $textfont;
                                font-size: 1.1rem;
                                z-index: 2;
                            }
                        }
                    }
                }
            }

            .vertical-green-line-bottom {
                height: 600px;
                width: 1%;
                background-color: $primarycolor;
                opacity: 50%;
                margin-top: -280px;
                display: none;
            }

            .green-skills-right {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                .img-lemon {
                    height: 150px;
                    z-index: 1;
                }
            }
        }

    }
}

// PROFILE PAGE DESKTOP VIEW
@media all and (min-width: 769px) {

    .bloc_page_profile {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        .container-profile {
            display: flex;
            flex-direction: column;
            height: auto;
            width: auto;
            background-color: rgb(186, 222, 219);
            margin-top: 15px;
            padding-top: 80px;

            .profile-name-mobile {
                display: none;
            }

            .profile-img-white-paint-mobile {
                display: none;
            }

            .img-pen-mobile {
                display: none;
            }

            .container-vertical-green-line-top {
                display: flex;
                justify-content: center;
                align-items: center;

                .vertical-green-line-top {
                    height: 115px;
                    width: 1%;
                    background-color: $primarycolor;
                    opacity: 50%;
                    margin-bottom: -15px;
                }
            }

            .container-card-img-infos {
                display: flex;
                flex-direction: row;
                padding: 15px;

                .container-profile-img {
                    background-color: white;
                    height: auto;
                    width: 30%;
                    padding: 30px;
                    position: relative;

                    .profile-img-scotch-top {
                        height: 130px;
                        position: absolute;
                        top: -75px;
                        left: 90px;
                        display: block;
                        max-width: 100%;
                    }

                    .container-img-frame {
                        height: 100%;
                        position: relative;

                        .profile-img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .profile-yellow-frame-bottom {
                            height: 75px;
                            position: absolute;
                            bottom: 15px;
                            right: 15px;
                            max-width: 65%;
                        }

                        .profile-yellow-frame-top {
                            height: 75px;
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            max-width: 65%;
                        }

                        .rotation180 {
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }

                    .profile-img-scotch-bottom {
                        height: 130px;
                        max-width: 100%;
                        position: absolute;
                        bottom: -75px;
                        right: 90px;
                        display: block;
                    }
                }

                .container-profile-infos {
                    position: relative;
                    background-color: $primary;
                    height: auto;
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .img-pen-desktop {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        height: 70px;
                        display: block;
                    }

                    .entry-date {
                        height: 50px;
                        width: 75%;
                        margin-left: auto;
                        margin-right: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        font-size: 1.3rem;
                        font-family: $textfont;
                    }

                    .profile-img-white-paint-desktop {
                        height: 90px;
                        position: relative;
                        max-width: 80%;
                        margin: 10px 0 20px 0;
                        display: block;
                    }

                    .profile-name-desktop {
                        position: absolute;
                        z-index: 1;
                        display: block;
                    }

                    .profile-function {
                        width: 75%;
                        margin-left: auto;
                        margin-right: auto;
                        background-color: white;

                        h3 {
                            font-family: $textfont;
                            color: $primary;
                            padding: 10px;
                            font-size: 1.6rem;
                            word-break: break-all;
                        }
                    }

                    .container-profile-contact-detail {
                        width: 75%;
                        background-color: $secondarycolor;
                        padding: 15px;
                        margin: 0 auto 15px;

                        .profile-details {
                            border-radius: 15px;
                            background-color: white;

                            .details {
                                h3 {
                                    font-family: $textfont;
                                    word-break: break-all;
                                }

                                p {
                                    font-size: 1.3rem;
                                    font-family: $textfont;
                                    word-break: break-word;

                                    a {
                                        text-decoration: underline;
                                        font-family: $textfont;
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .container-infos-bio-work {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                padding: 80px 15px 50px 15px;
                height: auto;

                .container-infos-bio {
                    height: auto;
                    width: 50%;
                    position: relative;
                    background-color: white;
                    margin-right: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .bio-text {
                        padding: 15px;
                        max-width: 100%;
                        height: 85%;
                        overflow: auto;

                        p {
                            font-size: 1.3rem;
                            text-align: center;
                            word-break: break-word;
                            font-family: $textfont;
                        }
                    }

                    .green-line-top {
                        position: absolute;
                        height: 15px;
                        width: 100%;
                        top: 0;
                        background-color: $primarycolor;
                    }

                    .green-line-bottom {
                        position: absolute;
                        height: 15px;
                        width: 100%;
                        bottom: 0;
                        background-color: $primarycolor;
                    }
                }

                .container-infos-work {
                    border-top: 2px solid $primarycolor;
                    height: auto;
                    width: 50%;
                    margin-left: 50px;

                    .title-infos-work {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;

                        h1 {
                            position: absolute;
                            color: white;
                            font-size: 2.5rem;
                        }

                        .profile-img-green-paint-desktop {
                            width: 100%;
                            height: 75px;
                            margin-top: 15px;
                        }
                    }

                    .container-work-on {


                        .list-work-on {
                            list-style-type: none;
                            padding-inline-start: 0;
                            margin-top: 35px;

                            li {
                                width: 100%;
                                border-radius: 30px;
                                background-color: white;
                                padding: 10px;
                            }

                            h1 {
                                padding: 0;
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
            }

            .container-green-skills {
                display: flex;
                flex-direction: row;
                background-color: white;
                height: auto;
                width: 100%;

                .green-skills-left {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    height: 100%;

                    .title-green-skills {
                        margin-top: -20px;

                        h3 {
                            font-family: $textfont;
                            font-size: 2rem;
                        }
                    }

                    .circles {
                        height: auto;
                        margin-top: 30px;

                        .container-circle-green-1 {
                            display: flex;
                            flex-direction: row;
                            text-align: center;
                            align-items: center;

                            .circle-green-1 {
                                height: 75px;
                                width: 75px;
                                min-width: 75px;
                                background-color: $primarycolor;
                                border-radius: 50%;
                            }

                            h5 {
                                font-family: $textfont;
                                font-size: 1.25rem;
                            }
                        }

                        .container-circle-yellow {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-align: center;

                            .circle-yellow {
                                height: 75px;
                                width: 75px;
                                min-width: 75px;
                                background-color: $secondarycolor;
                                border-radius: 50%;
                                margin: 8px 0 8px 0;
                            }

                            h5 {
                                font-family: $textfont;
                                font-size: 1.25rem;
                            }
                        }

                        .yellow-line {
                            background-color: #fef9cd;
                            width: 200%;

                            .container-circle-green-2 {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                text-align: center;
                                width: 50%;

                                .circle-green-2 {
                                    height: 75px;
                                    width: 75px;
                                    min-width: 75px;
                                    background-color: $primarycolor;
                                    border-radius: 50%;
                                }

                                h5 {
                                    font-family: $textfont;
                                    font-size: 1.25rem;
                                    z-index: 2;
                                }
                            }
                        }
                    }
                }

                .vertical-green-line-bottom {
                    height: 600px;
                    width: 1%;
                    background-color: $primarycolor;
                    opacity: 50%;
                    margin-top: -280px;
                    display: block;
                }

                .green-skills-right {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    .img-lemon {
                        height: 325px;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

.link-flex {
    display: flex;
    flex-direction: row;
}

.delete-button {
    margin-bottom: 30px;

    button {
        background-color: $tertiarycolor;
        color: $secondarycolor;
        font-family: $textfont;
        font-size: 10px;
    }
}

.bienvenue {
    font-family: "Montserrat", sans-serif;

    h2, .livret-accueil, p, ul, .links {
        margin: 0 30px;
    }

    h2 {
        text-align: center;
        color: $tertiarycolor;
        margin-top: 20px;
        font-size: 24px;
    }

    .livret-accueil {
        position: relative;
        text-align: center;
        margin: 20px auto;

        img {
            width: 360px;
            height: auto;
        }

        #text {
            color: $tertiarycolor;
            font-size: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .arrows {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 60px;

        .left-arrow, .right-arrow {
            width: 48px;
            height: auto;
        }

        .right-arrow {
            transform: scaleX(-1);
        }
    }

    .adhesion {
        p, li {
            text-align: justify;
        }

        p {
            font-size: smaller;
        }

        .flower {
            position: relative;
            text-align: center;
            margin: -50px auto 10px auto;

            .flower-img {
                width: 180px;
                height: auto;
            }

            a {
                font-family: $titlefont;
                color: $tertiarycolor;
                font-size: 24px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .titres-bienvenue {
        position: relative;
        text-align: left;
        margin: 20px auto;
        line-height: 54px;
        vertical-align: center;

        img {
            width: 360px;
            height: auto;
        }

        h3 {
            color: white;
            font-size: 16px;
            position: absolute;
            top: 17px;
            left: 10px;
        }
    }

    .green-text {
        color: $primarycolor;
    }

    .contact-accueil {
        position: relative;
        width: 100%;
        height: 300px;
        margin: 30px auto 30px auto;

        #block {
            position: absolute;
            background-color: $primarycolor;
            opacity: 0.6;
            height: 100%;
            width: 100%;
        }

        #text {
            padding: 15px;
            text-align: center;
            position: absolute;
            color: $tertiarycolor;
            height: 100%;
            width: 100%;
        }

        .contacts {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .contact-plus {
            margin: 30px 10px;
            padding: 10px;

            img {
                width: 80px;
                height: auto;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            margin: 30px 10px;
            padding: 10px;

            p {
                margin-top: 50px;
                font-size: 14px;
            }

            .contact-img {
                position: relative;
                margin: 30px auto 30px auto;

                .photo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100px;
                    border-radius: 200px;
                }

                .circle {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 120px;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .bienvenue {
        .arrows {
            .left-arrow, .right-arrow {
                width: 98px;
            }
        }

        .adhesion {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: -50px;

            .adh-1 {
                flex: 2;

                .flower {
                    margin: -70px auto 10px auto;

                    .flower-img {
                        width: 240px;
                    }

                    a {
                        font-size: 36px;
                    }
                }
            }

            .adh-2 {
                display: flex;
                align-items: center;
                flex: 4;
            }
        }
    }
}

@media (min-width: 720px) {
    .subtitles-accueil {
        margin-top: -70px;
    }
}

/* CALENDAR PAGE */
.cal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cal-leaf-container {
        display:none;
    }
    
    .cal-text {
        margin: 20px auto 100px 0;
        height: 100px;
        text-align: center;
        p {
            font-family: $textfont;
            font-size: 16px;
            padding: 10px;
        }
    }
    
    .cal-container {
        border-top: 15px solid $primarycolor;
        border-bottom: 15px solid $primarycolor;
        border-left: 1px solid $primarycolor;
        border-right: 1px solid $primarycolor;
        padding: 2px;
    }
    
    .cal-leaves-line {
        display: none;
    }
}

@media (min-width: 576px) {
    .cal {
        display: flex;
        flex-direction: column;
        align-items: center;
        .cal-leaf-container {
            position: relative;
            margin: -100px auto 0 auto;
            width: 80%;
        }
        
        .cal-green-leaf {
            margin: -60px;
            width: 500px;
            height: auto;
        }
        
        #right-leaf {
            transform: rotate(150deg);
            position: absolute;
            right: 100px;
        }
        
        #left-leaf {
            transform: rotate(210deg) scaleX(-1);
            position: absolute;
            left: 100px;
        }
        
        .cal-text {
            margin: 150px 0 100px 0;
            width: 600px;
            height: 100px;
            text-align: center;
            p {
                font-family: $textfont;
                font-size: 20px;
            }
        }
        
        .cal-container {
            margin: 20px 0;
            border-top: 15px solid $primarycolor;
            border-bottom: 15px solid $primarycolor;
            border-left: 1px solid $primarycolor;
            border-right: 1px solid $primarycolor;
        }
        
        .cal-leaves-line {
            width: 97%;
        }
        
        .cal-leaves {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            img {
                width: 100px;
                height: auto;
            }
           
            #left-big-pink {
                transform: scaleX(-1);
            }
            
            #left-small-orange {
                height: 50px;
                width: auto;
            }
            
            #left-big-green {
                transform: scaleX(-1);
            }
            
            #right-big-orange {
                transform: scaleX(-1);
            }
            
            #right-small-pink {
                height: 50px;
                width: auto;
            }
        }
        
        .cal-yellow-line {
            background-color: $secondarycolor;
            width: 100%;
            height: 60px;
            margin-top: -30px;
        }
    }
}
