{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1 class="greenOnWhite">Administration</h1>
<ul>
    <li><a href="{{ path('admin_user_index') }}">Gestion des utilisateurs</a></li>
    <li><a href="{{ path('admin_event_index') }}">Gestion des évènements</a></li>
</ul>
{% endblock %}
