{% extends 'base.html.twig' %}

{% block title %}Action index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Nos actions</h1>

        A MODIFIER
    </div>
{% endblock %}
