{% extends'base.html.twig' %}

{%  block title %}Nouvelle fiche Action{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Action</h1>

    {{ include('/action/_form.thml.twig') }}

{% endblock %}