{% extends'base.html.twig' %}

{%  block title %}Nouvelle fiche Action{% endblock %}

{% block body %}
    <div class="action-form">
        <h1 class="greenOnWhite">Créer une nouvelle fiche Action</h1>

        {{ include('/action/_form.html.twig') }}
    </div>

{% endblock %}