{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Modifier Catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_category_index') }}">Retour à la liste</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
