{% extends 'base.html.twig' %}

{% block body %}
    <div class="mini-menu">
        <div class="threeDots"></div>
        <div class="menu">
            <a href="#">Modifier</a>
            <span class="action">|</span>
            <a href="#">Dupliquer</a>
            <span class="action">|</span>
            <a href="#">Appliquer</a>
        </div>
    </div>
{% endblock %}

