<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap" rel="stylesheet">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap" rel="stylesheet">
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
    <header>
        {% include('_navbar.html.twig') %}
    </header>

    {# FLASH MESSAGES DISPLAY ON TOP OF EACH PAGE #}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for category, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}

    {{ encore_entry_script_tags('app') }}

    {% block javascripts %}{% endblock %}
        <footer>
            {% include '_footer.html.twig' %}
        </footer>
    </body>
</html>
