{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

            <div class="button-new-benevole">
                <h4>Nouveau.elle ? Commencez ici !<img class="arrow_benevole" src="{{ asset('img/accueil_fleche.png') }}" alt="Fleche"></h4>
                <a href="{{ path('newBenevole_show') }}">
                    <img class="logo-new" src="{{ asset('img/accueil_new.png') }}" alt="Bouton nouveau bénévole">
                </a>
            </div>

    <h1 class="greenOnWhite text-center">Qu'est ce que la Gare Centrale ?</h1>

    <div class="container-center">
        <div class="whiteOnGreen text-center link-box">
            <h2><a href="#" class="link-of-linkbox">Retrouver les actions en cours</a></h2>
            <hr class="col-3"/>
            <h2><a href="#" class="link-of-linkbox">Découvrir les fiches méthodes</a></h2>
            <hr class="col-3"/>
            <h2><a href="#" class="link-of-linkbox">Ouvrir l'agenda</a></h2>
            <hr class="col-3"/>
            <h2><a href="{{ path('trombinoscope_show') }}" class="link-of-linkbox">Accéder au trombinoscope</a></h2>
        </div>
    </div>

{% endblock %}