{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 403, Vous n'êtes pas autorisé à accéder à cette page.</h1>
    <p class="text-center"><a href="{{ path('app_homeIndex') }}">Retour à l'accueil</a></p>
{% endblock %}