{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 500, Le serveur a rencontré une erreur.</h1>
    <p class="text-center"><a href="{{ path('app_homeIndex') }}">Retour à l'accueil</a></p>
{% endblock %}