{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-12 text-center">
        <button class="btn form-button">{{ button_label|default('Créer la fiche méthode') }}</button>
    </div>
    {{ form_end(form) }}
