{% extends 'base.html.twig' %}

{% block title %}Dupliquer une fiche méthode fiche méthode{% endblock %}

{% block body %}
    <div class="action-form">
        <h1>Nouvelle fiche méthode</h1>

        {{ include('method/_form.html.twig', {'button_label': 'Dupliquer la fiche méthode'}) }}

        <a href="{{ path('method_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
