{% extends 'base.html.twig' %}

{% block title %}Method index{% endblock %}

{% block body %}

    <h1 class="greenOnWhite">Fiches méthodes</h1>
    <div class="container-center">
        <button class="btn btn-secondary method-btn">
            <a href="{{ path('method_new') }}">
                <span>+</span> Nouvelle fiche
            </a>
        </button>
    </div>
    <div class="container-center">
        <div class="card cardmethod">

            <div class="card-body">
                <div class="card-head">
                    <h5 class="card-title">Nom de la méthode</h5>
                    <div class="dropup">
                        <div class="threeDots" type="button" data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false">
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Modifier</a>
                            <a class="dropdown-item" href="#">Dupliquer</a>
                            <a class="dropdown-item" href="#">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
            <img class="card-img" src="https://i.picsum.photos/id/0/300/300.jpg" alt="Card image cap">
        </div>

    </div>


{% endblock %}
