{% extends 'base.html.twig' %}

{% block title %}Editer utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="greenOnWhite">Edite ton profil</h1>

        {{ include('user/_emailForm.html.twig') }}

        {{ include('user/_passForm.html.twig') }}

        {{ include('user/_form.html.twig', {'button_label': 'Editer'}) }}

        <a href="{{ path('user_show', {'id':user.id}) }}"><button class="btn form-button">Retour au profil</button></a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}
